body {
    font-family: Arial, sans-serif;
    background-image: url('../img/clouds-1282314.jpg');
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    color: #333;
    text-align: center;
  }
  
  h2 {
    color: #555;
    margin-top: 40px;
  }
  h3{
    text-align: center;
  }
  p{
    text-align: center;
  }
  
  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 6px;
  }
  img{
    text-align: center;
    justify-items: center;
    align-items: center;
    padding: 10px; 
    display: block;
    width: 60%;
    margin: auto;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 15px;
    font-size: 14px;
  }
  
  input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  
  input[type="submit"]:hover {
    background-color: #555;
  }
  
  #productList {
    margin-top: 40px;
  }
  