#product-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    place-items: center;
}

.product-card{
    background-color: rgb(255, 255, 255);
    width: 50vw ;
    margin: 1rem;
    border-radius: 1rem;
height: 105vh;
    padding: 0.5rem;

}
.flex{
    display: grid;
    place-items: center;
}

body{
    background-image: url('../img/clouds-1282314.jpg    ');
}

.product-title{
color: rgb(17, 17, 17);
font-size: 1.2rem;
}

.description{
    font-size: 1rem;
    color: rgb(5, 5, 5);
}

.product-img{
height: 100%;
width: 50%;
overflow: hidden;

}
.pay{
    border: none;
    color: white;
    background-color: rgb(0, 166, 207);
    border-radius: 0.5rem;
    width: 60%;
    padding: 0.5rem;
    font-size: 1.2rem;
    
}

.price{
    font-size: 1.5rem;
    color: rgb(41, 41, 41);
   
}

.pay-container{
    display: grid;
    place-items: center;
  
 
}

.description-over{
    height: 80px;

   
}

.img-container{
    height: 400px;
    display: grid;
    place-items: center;
}

.price-container{
    height: 1.5rem;
   
    position: relative;
    margin-bottom: 1.5rem;
  
}

*{
    font-family: Arial, Helvetica, sans-serif;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease;
}

.edit-button {
    background-color: #007BFF;
    color: #fff;
}

.edit-button:hover {
    background-color: #0056b3;
}

.delete-button {
    background-color: #DC3545;
    color: #fff;
}

.delete-button:hover {
    background-color: #b21f2d;
}

.add-button {
    background-color: #28A745;
    color: #fff;
}

.add-button:hover {
    background-color: #1f8433;
}